@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: #fafafa;
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: 50px auto 0 auto;
}

h1 {
  text-align: center;
}

h1.heading-one {
  color: #a3a5ae;
  font-weight: 200;
}

h1.heading-two {
  color: #4c4e61;
}

h4 {
  color: #a3a5ae;
  text-align: center;
  font-weight: 400;
}

h4.mobile-only {
  display: none;
}

.flex__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__container .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 25px;
  margin: 15px;
  width: 315px;
  height: 215px;
  border-radius: 8px;
  box-shadow: rgba(84, 158, 242, 0.2) 0px 8px 24px;
}

.flex__container .card p.title {
  font-weight: 600;
  margin-bottom: 10px;
}

.flex__container .card p.description {
  color: #a3a5ae;
  font-size: 12px;
  margin-bottom: 40px;
}

.flex__container .card img {
  width: 50px;
  height: 50px;
  align-self: flex-end;
}

.flex__container .card.cyan {
  border-top: 3px solid #45d3d3;
}

.flex__container .card.red {
  border-top: 3px solid #ea5353;
  margin-bottom: 25px;
}

.flex__container .card.orange {
  border-top: 3px solid #fcaf4a;
}

.flex__container .card.blue {
  border-top: 3px solid #549ef2;
}

@media (max-width: 1024px) {
  .flex__container {
    flex-direction: column;
  }
  .flex__container .card.red {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 25px;
  }
  h1.desktop-only, h4.desktop-only {
    display: none;
  }
  h4.mobile-only {
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 10px 20px 0 20px;
  }
}
